<strong> Hello, {{ deliveryman }}</strong>
<p>A delivery has been canceled, check the details below: </p>
<p>
  <strong> Recipient: </strong> {{ recipient }} <br />
  <strong> Product: </strong> {{ product }} <br />
</p>
