<strong> Hello {{ deliveryman }}</strong>
<p>There's a delivery awaiting, check the details below:. </p>
<p>
  <strong> Recipient: </strong> {{ recipient }} <br />
  <strong> Product: </strong> {{ product }} <br />
  <br />
  <small>
    The withdrawal can be made between 08:00 and 18:00.
  </small>
</p>
